extends layout

block content
  include navbar.pug
  main(role="main", class="flex-shrink-0")
    div(class="container")
      h1 Servicio de órdenes de exámenes
      p.lead Esta aplicación web permite a los médicos generar una orden de exámenes de laboratorio y de imagen para sus pacientes
      p Nosotros nos hacemos cargo de contactar al paciente y coordinar la toma de muestras a domicilio o su visita al centro de diagnóstico más cercano
      p Si requiere asistencia estaremos gustosos de atenderle, mensajeenos:
      a(href="https://wa.me/593983460326").btn.btn-primary 
        img(src="/images/WhatsApp_Logo_1.png" width=77 height=64)
        | Contacto 1
      a(href="https://wa.me/593987227760").btn.btn-primary
        img(src="/images/WhatsApp_Logo_1.png" width=77 height=64)
        | Contacto 2
  .fixed-bottom
    .d-flex.flex-row-reverse.bg-light
      a(href="/webapp/home").btn.btn-primary.btn-lg.active Ingresar
