header.mb-5
    nav(class="navbar navbar-expand-md navbar-light fixed-top bg-light")
      a(class="navbar-brand", href="/webapp/home") 
        img(src="/images/LogoClinicaOsteoporosis.svg" width=30 height=30).d-inline-block.align-top
        p.d-inline-block.align-center Clínica de Osteoporosis